
body {
	background-color: #E4D7CE;
}
h2 {
   color: #36C;
   font-weight: normal;
   letter-spacing: .4em;
   margin-bottom: 1em;
   text-transform: lowercase;
   background-color: #E4D7CE;
}
p {
	color
}